# Leader Node ENVs
LEADER_PRIVATE_KEY=
LEADER_EOA=

# Regular Nodes IP
LEADER_PEER_ID=
LEADER_EOA=
EOA_PRIVATE_KEY_1=
EOA_PRIVATE_KEY_2=

# for both
ETH_RPC_URLS=
CONTRACT_ADDRESS=

# Database
POSTGRES_PASSWORD=